*{
    margin: 0;
    padding:0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color:black ;
    display: flex;
}
.card{
    width: 25%;
    height:100%;
    background-color: rgb(166, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.omo{
    width:90%;
    height:95%;
    background-image: linear-gradient(to right,);
}
.card1{
    width: 25%;
    height:100%;
    background-color: rgb(28, 121, 24);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.lmao{
    width: 90%;
    height:20%;
    background:linear-gradient(to right) rgb(7, 139, 27) yellow;
}
.card2{
    width: 25%;
    height:100%;
    background-color: rgb(102, 149, 55);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cnyeej{
    width: 90%;
    height:35%;
    background: linear-gradient(to right, green, white,);
}
.cnyeej1{
    width:90% ;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ciz{
    width:30% ;
    height: 90%;
    background: linear-gradient(to right, rgb(44, 44, 64), rgb(71, 255, 200));
    
}
.cnyeej3{
    width:90%;
    height: 22.5%;
    background: linear-gradient(to right,rgb(100, 211, 198),rgb(3, 165, 113));
}
.huy2{
    width:45%;
    height:90%;
    background:linear-gradient(to right,rgb(61, 61, 184),black );
}
.cnyeej2{
    width:90%;
    height:22.5%;
    justify-content: space-around;
    align-items: center;
}
.huy{
    width:45%;
    height:90%;
    background:linear-gradient(to right,rgb(124, 213, 124)white);
}
.card3{
    width: 25%;
    height:100%;
    background-color: rgb(41, 99, 80);
    display: flex;
}
.snu{
    width:45%;
    height: 100%;
    background:rgb(100, 211, 198);
    align-items: flex-end;
}
.sn{
        width:37%;
        height:90% ;
        background-color: purple ;
    }